.dashboard {
  height: 480px;
}

#dashboard-banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  @media(min-width: 600px) {
    height: 40vh;
  }

  @media(max-width: 600px) {
    height: 25vh;
  }

  @media(min-width: 950px) {
    height: 50vh;
  }
}

#company-name {
  position: absolute;
  top: 5%;
  right: 8px;
  color: white;
}

#company-name h5 {
  font-size: 14px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#csr {
  position: absolute;
  top: 45%;
  color: white;
  width: 100%;
}

#csr h3 {
  font-size: 26px;
  text-align: center;
  text-shadow: 1px 1px
  3px rgba(0,0,0,0.2);
}

.dashboard-subheading {
  padding-top: 12px;
  font-size: 14px;
}

.company-graph {
  border-left: solid 1.5px rgba(255, 87, 87, 1);
  margin-bottom: 0;
}

// EMPLOYER TAB

.employer-vol-summary {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 116px;
  margin-left: 0px;
  padding-bottom: 16px;
  border-bottom: solid 1px rgba(255, 87, 87, 0.2);
}

.employer-summary-card {
  border: solid 1px rgba(255, 87, 87, 0.6);
  background-color: white;
  // width: 30%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  box-shadow: 1px 1px 2px rgba(255, 87, 87, 0.2);
}

.employer-summary-card i {
  color: rgba(255, 87, 87, 1);
  padding-bottom: 5px;
  padding-top: 8px;
}

.employer-vol-summary h5 {
  font-size: 13px;
  margin: 0;
}

// EMPLOYEE TAB

.employee-cards {
  margin-bottom: 8px;
  margin-top: 16px;
  margin-right: 8px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;

  @media(max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card-employee {
  // width: 100%;
  overflow: hidden;
  height: 72px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: space-between;
  margin-right: 15px;
  box-shadow: 1px 1px 2px rgba(255, 87, 87, 0.2);
  padding-bottom: 0px;
}

.card-employee p {
  font-size: 13px;
  margin: 4px;
}

.card-employee h5 {
  font-size: 16px;
  margin: 0;
}

.card-employee i {
  color: rgba(255, 87, 87, 1);
  margin-right: 4px;
}

.card-employee .card-employee-infos {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: solid 1px rgba(255, 87, 87, 0.6);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.card-employee .card-employee-name {
  background-color: rgba(255, 87, 87, 0.9);
  border: solid 1px rgba(255, 87, 87, 0.6);
  color: white;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
