// Specific CSS for your home-pag

.homepage-title {
  margin-top: 8px;
  margin-bottom: -16px;
  color: rgba(255, 87, 87, 1);
  padding-top: 20px;
}

.homepage-title h2 {
  font-size: 20px;
}

.mapbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -8px;
}
.map {
  width: 100%;
  justify-content: center;
}

#map-size{
  width: 100% !important;
  height: 327px !important;
}

.mapboxgl-canvas {
  width: 100% !important;
}

.homepage-container video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.homepage-button {
  width: 180px;
  margin-left: 20px;
}

.homepage-content {
  margin-left: 20%;
}

.homepage-headers {
  text-align: center;
  padding-top: 4vh ;
  color: white;
}

.homepage-button-container {
  text-align: center;
  width: 40%;
}

.homepage-buttons-container {
    margin-top: 55vh;
}

.homepage-buttons-container {
  display: flex;
  justify-content: center;
}

.mapboxgl-ctrl-geocoder--input {
}

.swal-text {
  text-align: center;
}

.swal-icon {
  margin: 8px auto;
}

#emergency-popup {
  font-size: 30px;
  border: 2px solid #ff5757;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding-top: 8px;
  margin-left: 50px;
}
