
.chatroom-message {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.chatroom-sender {
  border: 1px solid rgba(255, 87, 87, 0.6);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.msg-black {
  color: black;
}

.msg-pink {
  color: rgba(255, 87, 87, 1);
}

.chat-headers {
  font-size: 20px;
  text-align: center;
  padding-top: 3vh ;
  color: grey;
  width: auto;
}

#message_content {
  margin-top: 0%;
  border: 1.5px solid rgba(255, 87, 87, 0.6);
  border-radius: 5px;
  margin: 10px 0;
}

.send-button {
  margin-left: 16px;
  margin-right: 16px;
  width: 91vw;
}

.message-container {
  margin-top: 0;
  padding-bottom: 16px;
}

.chatroom_container {
  margin: 0 16px;
}
