.profile-banner-img img {
  width: 100%;
  object-fit: cover;
  }


@media(min-width: 600px) {
  .profile-banner-img img {
  height: 40vh;
  }
}

@media(max-width: 600px) {
  .profile-banner-img img {
  height: 25vh;
  }
}

@media(min-width: 950px) {
  .profile-banner-img img {
  height: 50vh;
  }
}

.profile-avatar {
  text-align: center;
  margin-top: -45px;
}

.profile-vol-summary {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-vol-summary .summary-card {
  padding: 4px;
  margin: 8px;
  background-color: rgba(255, 87, 87, 0.5);
  border-radius: 5px;
  width: 48%;
}

.summary-card p {
  margin-bottom: 0px;
}
.summary-card a {
  background-color:rgba(255, 87, 87, 1);
  color: white;
  padding: 2px;
  border-radius: 5px;
};

.profile-container h3 {
  text-align: center;
  padding-top: 8px;
}

.profile-number {
  font-size: larger;
}

.profile-summary {
  padding: 16px 16px 0px;
  text-align: justify;
}
