<h1 class="main">Charity shops</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button type="button" class="button">Button</button>
<button type="button" class="button" id="secondary">Button</button>

<h1>Welcome to HOIIOH</h1>
