<div class="homepage-container">

  <%= video_tag "homepagevid.mp4", autoplay: true, loop: true, muted: true, controls: false, playsinline: true, class: "home_video" %>

  <div class="homepage-headers">
    <h1>Instant <br> Volunteering</h1>
  </div>

  <div class="homepage-buttons-container">

    <div class="homepage-button-container">
      <button onclick="location.href='/events'" class="homepage-button">Volunteer Now</button>
    </div>

    <div class="homepage-button-container">
      <%# <button id="emergency-popup" class="homepage-button-invert">Emergency Help</button> %>
      <i id="emergency-popup" class="fas fa-exclamation icon-pink-clickable"></i>
    </div>
  </div>
</div>
