<div class="homepage-container">

  <%= video_tag "homepagevid.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

  <div class="homepage-headers">
    <h1>Volunteering near you</h1>
  </div>

  <div class="homepage-buttons-container">

    <div class="homepage-button-container">
      <a href="/events" class="homepage-button">See Events</a>
    </div>

    <div class="homepage-button-container">
      <a href="" class="homepage-button-invert">Register as a Volunteer</a>
    </div>

  </div>



</div>
