<%# <h1 class="main">Charity shops</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<%# <h1>Welcome to HOIIOH</h1> %>

<div class="map" style="width: 98%; height: 400px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>



<div class="app">
  <h3>Charity Category 1</h3>

  <ul class="hs full">
    <li class="item"> <%= render partial: 'card' %> </li>
    <li class="item">Item 1.2</li>
    <li class="item">Item 1.3</li>
    <li class="item">Item 1.4</li>
    <li class="item">Item 1.5</li>
  </ul>

  <h2>Charity Category 2</h2>

   <ul class="hs full">
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
  </ul>

   <h2>Charity Category 3</h2>

  <ul class="hs full no-scrollbar">
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
  </ul>

   <h2>Charity Category 4</h2>

  <ul class="hs full no-scrollbar">
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
    <li class="item">test</li>
  </ul>

</div>


<%# <button type="button" class="button">Button</button>
<button type="button" class="button" id="secondary">Button</button> %>
