.button-container {
  position: sticky;
  bottom: 0;
}

.button {
width: 100%;
height: 80%;
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
font-weight: medium;
text-align: center;
padding: 0px;
line-height: 1.7;
color: #fff;
background: #ff5757;
border-radius: 8px;
display:block;
position: absolute;
bottom: 12px;
border: none;
}

.chat-button {
  color: #ff5757;
  background: white;
  border: 1px solid #ff5757;
  border-radius: 8px;
  display:block;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  left: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infocard {
  padding: 8px;
  height: 32px;
  color: white;
  font-size: small;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 10%;
}

#secondary {
color: #ff5757;
background: #fff;
}

.button:hover {
  color: $gray;
  opacity: 0.5;
}

.homepage-button {
  color: #fff;
  background-color: #ff5757;
  font-size: 22px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
  margin: 4px;
  padding: 8px;
  line-height: 1.45;
  width: 50%;
  border: none;
}

.homepage-button-invert {
  background-color: #fff;
  color: #ff5757;
  font-size: 22px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 8px;
  line-height: 1.45;
  width: 50%;
  border: none;
}

.swal-button {
  border: none;
  padding: 8px 16px 8px 16px;
  font-weight: normal;
}

.swal-button--confirm {
  background-color: #ff5757;
}
// .button-background {
//   background-color: white;
//   width: 100%;
//   position: sticky;
//   bottom: 0px;
//   height: 60px;
//   // border: none;
// }

.button a {
  color: white;
  border: none;
  // position: relative;
  // bottom: 0;
}
