.button-container {
  position: sticky;
  bottom: 0;
}

.button {
width: 100%;
height: 40px;
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
font-weight: medium;
text-align: center;
margin-top: 16px;
padding: 0px;
line-height: 1.45;
color: #fff;
  background: #ff5757;
  border-radius: 8px;
  display:block;
}

.chat-button {
  color: #ff5757;
  background: #fff;
  border: 4px solid #ff5757;
  border-radius: 8px;
  display:block;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 60px;
  right: 100px;
  width: 150px;

}

#secondary {
color: #ff5757;
background: #fff;
}

.button:hover {
  color: $gray;
  opacity: 0.5;
}

.homepage-button {
  width: 50px;
  color: #fff;
  background-color: #ff5757;
  font-size: 22px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
  margin: 8px;
  padding: 8px;
  line-height: 1.45;
}

.homepage-button-invert {
  width: 50px;
  background-color: #fff;
  color: #ff5757;
  font-size: 22px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
  line-height: 1.45;
}
