.button {
width: 100%;
height: 32px;
border: 1px solid;
color: #fff;
background: #ff5757;
font-size: 22px;
border-radius: 8px;
font-family: Arial, Helvetica, sans-serif;
font-weight: medium;
text-align: center;
margin: 0px;
padding: 0px;
line-height: 1.45;
}

#infocard {
  padding: 8px;
}

#secondary {
color: #ff5757;
background: #fff;
}

.button:hover {
  color: $gray;
  opacity: 0.5;
}

.button a {
  color: #fff;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
}

.homepage-button {
  width: 50px;
  color: #fff;
  background-color: #ff5757;
  font-size: 22px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
  margin: 8px;
  padding: 8px;
  line-height: 1.45;
}

.homepage-button-invert {
  width: 50px;
  background-color: #fff;
  color: #ff5757;
  font-size: 22px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
  line-height: 1.45;
}
.button-background {
  background-color: white;
  width: 100%;
  position: sticky;
  bottom: 0px;
  height: 60px;
}
