.mapboxgl-popup {
  max-width: 200px;
  opacity: 1;
  z-index: 2;
}

// .mapboxgl-popup p {
//   margin-bottom: 4px;
// }

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  color: #ff5757;
  border: 1px solid #ff5757;
  height: 150px;
  z-index: 10;
  position: relative;
}

.mapboxgl-popup-content p, h5 {
  margin: 4px;
}

// .mapboxgl-popup-close {
//   color: white;
//   border: none;
// }

.mapboxgl-popup-close-button {
  color: #ff5757;
  border: none;
}

// .focus-visible-only:focus-visible {
//   outline: 4px dashed darkorange;
// }
