.booking-card {
  margin-top: 0;
  padding-bottom: 16px;
}

.field {
   display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

input.button {
position:absolute;
left:0%;
right:20%;
bottom: 10px;
height: 40px;
line-height: 1.8;
}

.booking-form-checkbox {
  display: flex;
}

.checkbox-element-box {
  padding-top: 10px;
  padding-right: 16px;
}

#booking-event-details {
  margin-top: 0px;
}

.confirm-booking {
  position: fixed;
  bottom: 0;
  // width: 92vw;
}

.new-booking .title-and-back {
  margin-top: 24px;
  margin-bottom: 32px;
}

.new-booking .event-details {
  padding-top: 16px;
  margin-bottom: 20px;
}

.booking-form {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
}
