.booking-card {
  margin-top: 0;
  padding-bottom: 16px;
}

.field {
   display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

input.button {
position:absolute;
left:0%;
right:20%;
bottom: 10px;
height: 40px;
line-height: 1.8;
}

.booking-form-checkbox {
  display: flex;
}

.checkbox-element-box {
  padding-top: 10px;
  padding-right: 16px;
}

#booking-event-details {
  margin-top: 0px;
}
